@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #111;
  color: #eee;
  font-size: 1.6rem;
  min-height: 100vh;
  width: 100vw;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}
@media (max-width: 640px) {
  body {
    font-size: 1.4rem;
  }
}

ul {
  list-style: none;
}

.list__separator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
}

.separator {
  width: 100%;
  margin: 1rem 2rem;
}

.main {
  display: flex;
  gap: 3rem;
  margin: 3rem;
}
.main__small {
  display: none;
}
@media (max-width: 840px) {
  .main {
    display: none;
  }
  .main__small {
    display: flex;
    flex-direction: column;
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.group.primary {
  width: 35%;
}

.group.secondary {
  width: 65%;
}

.section {
  background-color: rgba(68, 68, 68, 0.75);
  transition: all 0.2s ease-in-out;
  padding: 2rem;
}
.section:hover {
  background-color: rgba(85, 85, 85, 0.85);
  transition: all 0.2s ease-in-out;
}

.heading {
  font-weight: 400;
  font-size: 2.2rem;
}
@media (max-width: 640px) {
  .heading {
    font-size: 1.8rem;
  }
}

.header {
  margin: 3rem;
  display: flex;
  gap: 5rem;
}
.header__photo {
  height: 15rem;
  width: 15rem;
}
.header__photo__image {
  width: 15rem;
  height: 15rem;
  background-color: #444;
  border: 0.1rem solid;
  border-radius: 50%;
}
.header__details__name {
  font-size: calc(1rem + 5vw);
  margin-bottom: 0.4rem;
  font-weight: 300;
}
.header__details__title {
  font-size: 2.3rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
}
@media (max-width: 412px) {
  .header__details__name {
    font-size: calc(1rem + 3vw);
  }
  .header__details__title {
    font-size: 1.4rem;
  }
}
@media (min-width: 412px) and (max-width: 640px) {
  .header__details__name {
    font-size: calc(1rem + 3.8vw);
  }
  .header__details__title {
    font-size: 1.6rem;
  }
}

.resume,
.job,
.education {
  margin: 1rem 2rem;
  line-height: 1.5;
  word-spacing: 0.2rem;
}

.contact {
  margin: 1rem 2rem;
}
.contact * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.contact__email {
  margin-bottom: 0.4rem;
}
.contact__cel {
  margin-bottom: 0.4rem;
}
.contact__homepage {
  margin-bottom: 0.4rem;
}

.job__position {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.job__company {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.job__location {
  font-size: 1.3rem;
  margin-bottom: 0.4remrem;
}
.job__dates {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.job__activities {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.education__course {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.education__institution {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.education__location {
  font-size: 1.3rem;
}
.education__dates {
  font-size: 1.3rem;
}

.date__start__month, .date__finish__month {
  margin-right: 0.2rem;
}
.date__start__month::after, .date__finish__month::after {
  content: "/";
}
.date__start__year::after {
  content: " - ";
}

.skills-list .list {
  display: flex;
  flex-wrap: wrap;
}
.skills-list .list__item {
  flex-grow: 1;
}

.skill {
  margin: 0.6rem 1rem;
  padding: 1rem;
  border: 0.1rem solid;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.footer {
  width: 100%;
  margin: 5rem 0 0;
  padding: 3rem 0 2rem;
  background-color: #222;
}
.footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__copy {
  font-size: 1.4rem;
  display: flex;
  gap: 2rem;
}
.footer__link-list {
  margin: 1rem;
  display: flex;
  gap: 3rem;
}
.footer__link-list__item {
  display: flex;
  gap: 0.4rem;
}
.footer__link-list__item svg {
  width: 2rem;
  height: 2rem;
}
.footer__link-list__item a {
  color: #aaa;
  font-size: 1.4rem;
}
.footer__link-list__item a:hover {
  color: #eee;
}
@media (max-width: 640px) {
  .footer__content {
    gap: 2rem;
  }
  .footer__copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer__copy svg {
    width: 1rem;
    height: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
